n8n_automation/Advanced/Chat with OpenAI Assistant (by adding a memory).txt
{
  "name": "Chat with OpenAI Assistant (by adding a memory)",
  "nodes": [
    {
      "parameters": {
        "assistantId": "asst_HDSAnzsp4WqY4UC1iI9auH5z",
        "text": "=## Our Previous Conversation:\n{{ $json[\"messages\"].map(m => `\nHuman: ${m.human}\nAI Assistant: ${m.ai}\n`) }}\n## Current message:\n{{ $('Chat Trigger').item.json.chatInput }}",
        "options": {}
      },
      "id": "3e892a3f-706d-44b7-b00f-4f4c947f47fd",
      "name": "OpenAI Assistant",
      "type": "@n8n/n8n-nodes-langchain.openAiAssistant",
      "position": [
        608,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "f76300b9-0fb8-413a-a5fc-0251b0771d17",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [
        768,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "308ec40d-f870-4958-aa6a-e5d7662ef6c8",
      "name": "Chat Memory Manager",
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "position": [
        32,
        64
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "={{ $('Chat Trigger').item.json.chatInput }}"
            },
            {
              "type": "ai",
              "message": "={{ $json.output }}"
            }
          ]
        }
      },
      "id": "64fda3a0-0713-4397-a7f7-6c41d8d765de",
      "name": "Chat Memory Manager1",
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "position": [
        992,
        64
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "messages",
        "options": {}
      },
      "id": "8b31d1b4-7d11-4434-8e73-caf543a3251e",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        400,
        64
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "output",
              "stringValue": "={{ $('OpenAI Assistant').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3b7feeb7-621c-4c4e-b40a-405f7602188d",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1584,
        64
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {},
      "id": "ebd92d75-200e-4c7f-9b35-57ade2ffe17a",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "position": [
        1360,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "public": true,
        "options": {
          "loadPreviousSession": "memory"
        }
      },
      "id": "cddd49bd-4e39-4252-aecc-ff12a0a0dd1c",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -288,
        64
      ],
      "webhookId": "1f83e8ac-d465-454a-8327-cef7f0149cb1",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Read contents of the chat from memory",
        "height": 196.64941360686112,
        "width": 514.8706020514577,
        "color": 7
      },
      "id": "64487340-7ef5-4ab8-af7f-db7bf0de2b80",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Call the assistant, passing in the previous chat messages",
        "height": 196.64941360686112,
        "width": 298.02823821086326,
        "color": 7
      },
      "id": "72c6de65-4142-4165-baad-dd8ee54f99f7",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Add the latest chat messages to the memory",
        "height": 196.64941360686112,
        "width": 298.02823821086326,
        "color": 7
      },
      "id": "8f37371e-0391-46ad-b0b4-881bcb886d1a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Return the model output",
        "height": 196.64941360686112,
        "width": 356.0564764217267,
        "color": 7
      },
      "id": "38bc8192-2dba-4b89-8e2b-92031a128039",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1344,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "1. In the OpenAI Assistant node, make sure your OpenAI credentials are set and choose an assistant to use (you'll need to create one if you don't have one already)\n2. Click the 'Chat' button below\n\n - In the first message, tell the AI what your name is\n - In a second message, ask the AI what your name is",
        "height": 300.48941882630095
      },
      "id": "832e3b7c-fca1-4fdb-a4b7-d902b678c7f7",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sessionKey": "={{ $('Chat Trigger').item.json.sessionId }}123",
        "contextWindowLength": 20
      },
      "id": "c0993d54-0bdd-4d8b-afe6-0c9cb99ded14",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        544,
        480
      ],
      "typeVersion": 1.1
    }
  ],
  "pinData": {},
  "connections": {
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "OpenAI Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "OpenAI Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Assistant": {
      "main": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Trigger",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4413ec23-32b2-485d-a620-4f72b25d6e9b",
  "meta": {
    "instanceId": "6ecec6629adf453df08d487fa10f1c287ae1bcb8e85c1bdf858a8203f602f7c6"
  },
  "id": "2OPx1ViSqHv05NMz",
  "tags": []
}